/*a {
scoping to all <a>    (anchor) elements     
    color: #999999;
} */

.item {  
    color: #999999;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.item:hover {
    color: #666666;
}

.header {
    padding: 1rem 0 3rem;
}

.title {
    color: #000000;
    font-size: 3rem;
    text-decoration: none;
}

.list {
    display: flex;
    margin: 0;
    list-style-type: none;
}

.activeItem {
    color: #333333;
}